<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>
<div class="container">
  <ul>
  <% @categories.each do  |category|%>
  <li id="category" ><%= category.title  %></li>
  <div class="card">
    <ul id="<%=category.title%>">
      <% category.tasks.each do |task|  %>
      <li id="<%=task.id%>">
        <%= task.title  %>
        <% unless task.deadline.nil? %>
          , to read: <%= task.deadline.strftime('%D')  %>
           <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, { controller: :tasks, action: :destroy, id: task.id }, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>  
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  </ul>
</div>

<div class="container">
  <div class="row">
    <% @tasks.each do |task|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
